:root {
  --color-principal: #131313;
  --color-terciario: #fff;
  --color-cuaternario: #000;
  --color-acento: orange;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: bold;
}

/* Globales */
img {
  max-width: 100%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

h1,
h2 {
  text-align: center;
}
h1,
h2 {
  margin-bottom: 2.5rem;
}
h3,
h4,
h5 {
  margin-bottom: 1rem;
}
/* Utilidades */
.btn {
  padding: 1rem 2rem;
  background-color: var(--color-terciario);
}
.contenedor_padding {
  padding: 2rem 0;
}
.border_bottom {
  border-bottom: 2px solid var(--color-acento);
}
.text-center {
  text-align: center;
}

.section {
  margin: 5rem 0 5rem 0;
}
.contenedor {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
/* Navbar */

.header {
  background-color: var(--color-principal);
  padding: 1.5rem 0;
}

.menu_contenedor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .menu_contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav .link {
  color: var(--color-terciario);
}
.logo {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-acento);
}

.nav .link:hover,
.logo:hover,
.logo-slogan {
  color: var(--color-acento);
}
.logo-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-terciario);
}

.logo_contenedor {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 420px) {
  .logo_contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo-slogan {
    justify-content: center;
    align-items: start;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* footer */

.footer {
  background-color: var(--color-principal);
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
}
.footer .contenedor {
  color: white;
}

.footer_section_contenido {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer_section_titulo {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-acento);
}
.footer_derechos{
  padding: 1rem 0;
}

/* Contacto page */
@media (min-width: 768px) {
  .contenido_contacto_contenedor {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: top;
  }
  .form_contenedor {
    flex-grow: 2;
  }
  .contacto_map_contenedor {
    flex-grow: 3;
  }
  .map {
    width: 100%;
  }
}

form {
  display: block;
  padding: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
}
form h3 {
  display: inline-block;
  border-bottom: 2px solid var(--color-acento);
}
form label {
  width: 100%;
  font-family: serif;
}
form input {
  width: 100%;
  padding: 5px 0 5px 5px;
  font-family: serif;
}
form textarea {
  width: 100%;
  padding: 5px 0 5px 5px;
  font-family: serif;
}

form button {
  padding: 1rem 2rem;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--color-principal);
  color: var(--color-terciario);
}
form button:hover {
  background-color: var(--color-acento);
}

/* Home page */
/* home banner */
.home_banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: url(/img/banner.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-terciario);
  z-index: 1;
  overflow: hidden;
}

.home_banner h1,
.home_banner .logo_contenedor {
  opacity: 0.93;
}
.home_banner::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.488);
  z-index: -1;
}

.home_salones_contenedor h2{
  display: inline-block;
  padding-bottom: .5rem;
  border-bottom: 2px solid var(--color-acento);
}

.tarjetas_contenedor {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .tarjetas_contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 980px) {
  .tarjetas_contenedor {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .tarjetas_contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tarjeta {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--color-principal);
}
.tarjeta_contenido {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  color: var(--color-terciario);
}
.tarjeta_precio_span {
  font-weight: bold;
  color: var(--color-acento);
}
.tarjeta_btn {
  text-align: center;
  display: inline-block;
  color: var(--color-principal);
  margin-top: 1rem;
}
.tarjeta_btn:hover {
  background-color: var(--color-acento);
}
